@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;
}

button {
  cursor: pointer;
  background: transparent;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 162px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block > *:not(:last-child) {
  margin-right: 100px;
}
.block .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block .hamburger > *:not(:last-child) {
  margin-bottom: 6px;
}
.block .hamburger .line {
  display: block;
  width: 35px;
  height: 3px;
  background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  border-radius: 1px;
}

.logo-block .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-block .logo .fe, .logo-block .logo .nft {
  font-family: "Zen Dots";
  font-size: 32px;
}
.logo-block .logo .nft {
  background-color: #CAB0B3;
  background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  background-image: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list > *:not(:last-child) {
  margin-right: 72px;
}
.nav__list .nav__li .nav__link {
  font-size: 18px;
}

.button-block .signup {
  width: 154px;
  height: 62px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
}

@media (max-width: 1200px) {
  .header .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 122px;
  }

  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block > *:not(:last-child) {
    margin-right: 100px;
  }
  .block .hamburger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block .hamburger > *:not(:last-child) {
    margin-bottom: 6px;
  }
  .block .hamburger .line {
    display: block;
    width: 35px;
    height: 3px;
  }

  .logo-block .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-block .logo .fe, .logo-block .logo .nft {
    font-family: "Zen Dots";
    font-size: 32px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list > *:not(:last-child) {
    margin-right: 72px;
  }
  .nav__list .nav__li .nav__link {
    font-size: 18px;
  }

  .button-block .signup {
    width: 154px;
    height: 62px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  }
}
@media (min-width: 1024px) {
  .header .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 122px;
  }

  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block > *:not(:last-child) {
    margin-right: 100px;
  }
  .block .hamburger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block .hamburger > *:not(:last-child) {
    margin-bottom: 6px;
  }
  .block .hamburger .line {
    display: block;
    width: 35px;
    height: 3px;
  }

  .logo-block .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-block .logo .fe, .logo-block .logo .nft {
    font-family: "Zen Dots";
    font-size: 32px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list > *:not(:last-child) {
    margin-right: 72px;
  }
  .nav__list .nav__li .nav__link {
    font-size: 18px;
  }

  .button-block .signup {
    width: 154px;
    height: 62px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  }
}
@media (max-width: 1023px) {
  .header .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 122px;
  }

  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block > *:not(:last-child) {
    margin-right: 50px;
  }
  .block .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block .hamburger > *:not(:last-child) {
    margin-bottom: 6px;
  }
  .block .hamburger .line {
    display: block;
    width: 35px;
    height: 3px;
  }

  .logo-block .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-block .logo .fe, .logo-block .logo .nft {
    font-family: "Zen Dots";
    font-size: 32px;
  }
  .nav-block {
    display: none;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list > *:not(:last-child) {
    margin-right: 72px;
  }
  .nav__list .nav__li .nav__link {
    font-size: 18px;
  }

  .button-block .signup {
    width: 154px;
    height: 62px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  }
}
@media (max-width: 767px) {
  .header .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 82px;
  }

  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block > *:not(:last-child) {
    margin-right: 0px;
  }
  .block .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block .hamburger > *:not(:last-child) {
    margin-bottom: 6px;
  }
  .block .hamburger .line {
    display: block;
    width: 35px;
    height: 3px;
  }

  .logo-block .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-block .logo .fe, .logo-block .logo .nft {
    font-family: "Zen Dots";
    font-size: 24px;
  }
  .nav-block {
    display: none;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list > *:not(:last-child) {
    margin-right: 72px;
  }
  .nav__list .nav__li .nav__link {
    font-size: 18px;
  }

  .button-block {
    display: none;
  }
  .button-block .signup {
    width: 154px;
    height: 62px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
  }
}
body {
  background: #020B12;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.main .container {
  min-height: 100vh;
}