* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 18px;
    color: #f5f5f5;
    --main-tw-color-: #fff;
}

button {
    cursor: pointer;
    background: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}