* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 400;
    color: #f5f5f5;
}

// Variables of fonts
$zen: 'Zen Dots';

button {
    cursor: pointer;
    background: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}